In [1]:
from clean_helpers import apply_cleaning

In [2]:
from utils import getData

In [ ]:
for task in ["A", "B", "C"]:
    train, test = getData(sub_task=f"{task}", return_type="pandas") 
    train_text_clean = apply_cleaning(list(train.text.values))
    train['text'] = train_text_clean
    
    test_text_clean = apply_cleaning(list(test.text.values))
    test['text'] = test_text_clean

In [12]:
train, test = getData(sub_task="A", return_type="pandas")

In [4]:
texts = list(train.text.values)

In [6]:
texts_cleaned = apply_cleaning(texts)

In [10]:
train['text'] = texts_cleaned

                                                   text  labels
0                                    ردينا ع التطنز 😏 👊       1
1                       وصارت فطاير البقالات غذاء صحي 👎       0
2     روحي لبريده تلقين اشباه كثير بس ماحد زيكم مشفو...       1
3                     مش باين حاجه خالص 😣 مش عارف بقى 😔       0
4     اليوم الاثنين 👏 يقولك% 90 من المسلمين عندهم خا...       0
...                                                 ...     ...
8882                                      الله يلعنهم 🤢       1
8883  واحد سال زوجته بعد كم سنة زواج- حبيبتي كم رجال...       0
8884  يالله روح زي الشاطر واحذف الشو الي سويته بس عش...       1
8885  لما الكلاب تهوهو عليك 🐶 🐶 وانت اللى مربيها 🙋 🙋...       0
8886  بايع الكليجاالله ياخذكم ي بنات خلوني اترزق الل...       0

[8887 rows x 2 columns]